body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #24292e;
    color: white;
    border: none;
    border-radius: 5px;
}
